In [75]:
import pandas as pd
import numpy as np

from sklearn.decomposition import PCA
from numpy import corrcoef
from numpy import concatenate

In [32]:
close_prices = pd.read_csv('D:/Work/Data_files/working_dir/close_prices.csv')
index_col = list(close_prices['date'].values)
close_prices.set_index(keys='date', inplace=True)
close_prices.head()

,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,HD,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
date,,,,,,,,,,,,,,,,,,,,,
2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,75.910004,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,76.040001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,75.519997,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,76.070000,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,75.959999,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

In [6]:
pca = PCA(n_components=10)
pca.fit(close_prices)

PCA(n_components=10)

In [7]:
pca.explained_variance_ratio_

array([0.73897118, 0.11007169, 0.04995088, 0.0287492 , 0.02215448,
       0.01931577, 0.00674853, 0.00614091, 0.00320594, 0.00305611])

In [34]:
close_prices_transformed = pd.DataFrame(pca.transform(close_prices), index=index_col)
close_prices_transformed

,0,1,2,3,4,5,6,7,8,9
2013-09-23,-50.902404,17.631677,7.736021,2.596010,2.377569,4.244055,12.883088,3.556570,-5.821974,-1.726040
2013-09-24,-52.846909,19.146907,7.272546,4.618575,0.102182,3.935519,11.062930,3.432599,-5.633181,-2.012232
2013-09-25,-54.614439,19.927358,8.109958,4.920347,-0.421454,4.555335,10.119224,4.175203,-5.388287,-2.752699
2013-09-26,-52.600566,19.941571,6.948113,4.806243,0.319779,5.065505,9.849605,3.266579,-5.974574,-1.922746
2013-09-27,-52.370123,22.289064,8.410868,3.833372,-2.464882,4.359897,7.988691,3.452709,-5.745204,-1.875131
...,...,...,...,...,...,...,...,...,...,...
2015-03-12,81.290980,18.000532,-9.494124,14.199909,1.316693,8.919781,-5.755256,2.526502,-5.359847,-2.279987
2015-03-13,77.903534,20.647020,-6.150860,15.059089,-0.824233,7.737595,-7.921301,3.533730,-4.255878,-3.066492
2015-03-16,83.798199,16.952413,-8.252656,16.393537,1.822557,6.867906,-4.756739,2.923904,-4.595438,-2.990335
2015-03-17,79.195789,19.144360,-6.932630,18.396232,1.626091,6.367810,-5.745384,3.404754,-3.667933,-3.576076
2015-03-18,82.968859,13.135140,-9.076443,18.982002,3.585044,5.848639,-4.077595,3.751004,-4.791722,-3.039189

In [36]:
dj_index = pd.read_csv('D:/Work/Data_files/working_dir/djia_index.csv')\
    .set_index('date')
dj_index.head()

                    ^DJI
date
2013-09-23  15401.379883
2013-09-24  15334.589844
2013-09-25  15273.259766
2013-09-26  15328.299805
2013-09-27  15258.240234

In [80]:
price_index_df = pd.concat([close_prices_transformed[0], dj_index], axis=1)
main_component = list(price_index_df[0].to_numpy())
main_component[0:10]

[-50.902403581010695,
 -52.84690918882606,
 -54.61443917074288,
 -52.6005662750022,
 -52.370123300508446,
 -54.65341197173623,
 -52.81257496142597,
 -53.65114570060492,
 -56.692726979900584,
 -54.40265505505304]

In [81]:
dow_jones_index = list(price_index_df['^DJI'].to_numpy())
dow_jones_index[0:10]

[15401.379883000001,
 15334.589844,
 15273.259766,
 15328.299805,
 15258.240234,
 15129.669922,
 15191.700195,
 15133.139647999998,
 14996.480469,
 15072.580078]

In [86]:
correlate = np.array([main_component, dow_jones_index])
correlate[0][0:10]

array([-50.90240358, -52.84690919, -54.61443917, -52.60056628,
       -52.3701233 , -54.65341197, -52.81257496, -53.6511457 ,
       -56.69272698, -54.40265506])

In [88]:
corrcoef(main_component, dow_jones_index)

array([[1.        , 0.90965222],
       [0.90965222, 1.        ]])

In [92]:
abs(pca.components_[0])

array([1.61383840e-02, 1.20644923e-01, 5.16612711e-02, 5.04842369e-02,
       1.25859933e-01, 1.14089567e-01, 2.33906290e-01, 6.20513749e-03,
       2.51227032e-01, 2.88996029e-01, 2.64998795e-01, 9.31320168e-02,
       9.13948403e-02, 4.69879340e-02, 2.90549417e-02, 2.61068828e-02,
       3.29615584e-01, 7.13897133e-02, 7.62295699e-02, 2.11888868e-01,
       2.30922941e-02, 7.77316954e-02, 7.20594590e-03, 1.89479745e-01,
       3.21564017e-01, 5.36834873e-02, 5.79683946e-01, 1.09122230e-04,
       8.71614334e-02, 4.29421420e-02])