In [1]:
import pandas as pd
import numpy as np

from sklearn.metrics import accuracy_score, precision_score,\
    recall_score, f1_score, roc_auc_score, precision_recall_curve

In [2]:
classification_data = pd.read_csv('D:/Work/Data_files/working_dir/classification.csv')
classification_data.head()

   true  pred
0     1     0
1     1     1
2     1     1
3     0     0
4     1     1

In [3]:
classification_metrics = classification_data.groupby('true', sort=False).agg(['sum', 'count'])\
    .T.reset_index(level=0, drop=True)
classification_metrics.head()

true     1   0
sum     43  34
count  102  98

In [4]:
accuracy = accuracy_score(classification_data.true, classification_data.pred)
precision = precision_score(classification_data.true, classification_data.pred)
recall = recall_score(classification_data.true, classification_data.pred)
f1_metric = f1_score(classification_data.true, classification_data.pred)
accuracy, precision, recall, f1_metric

(0.535, 0.5584415584415584, 0.4215686274509804, 0.48044692737430167)

In [5]:
scores_data = pd.read_csv('D:/Work/Data_files/working_dir/scores.csv')
scores_data.head()

   true  score_logreg  score_svm  score_knn  score_tree
0     0      0.683832   0.145976   0.787063    0.500000
1     1      0.801966   0.239511   1.000000    0.833333
2     0      0.382315  -0.245701   0.000000    0.000000
3     1      0.506797  -0.137058   0.000000    0.105263
4     1      0.488781  -0.154148   0.000000    0.105263

In [6]:
roc_auc_logreg = roc_auc_score(scores_data.true, scores_data.score_logreg)
roc_auc_svm = roc_auc_score(scores_data.true, scores_data.score_svm)
roc_auc_knn = roc_auc_score(scores_data.true, scores_data.score_knn)
roc_auc_tree = roc_auc_score(scores_data.true, scores_data.score_tree)
roc_auc_logreg, roc_auc_svm, roc_auc_knn, roc_auc_tree

(0.719187675070028, 0.7086834733893557, 0.6351540616246498, 0.6919267707082833)

In [20]:
logreg_scores = pd.DataFrame(precision_recall_curve(
    scores_data.true, scores_data.score_logreg)).T\
    .rename(columns={0: 'precision', 1: 'recall', 2: 'tresholds'})
logreg_scores.query('recall>=0.7').sort_values('precision', ascending=False).head()

    precision    recall  tresholds
78   0.630252  0.765306   0.488522
79   0.627119  0.755102   0.488781
82   0.626087  0.734694   0.491451
74   0.626016  0.785714   0.470439
77   0.625000  0.765306   0.486187

In [21]:
svm_scores = pd.DataFrame(precision_recall_curve(
    scores_data.true, scores_data.score_svm)).T\
    .rename(columns={0: 'precision', 1: 'recall', 2: 'tresholds'})
svm_scores.query('recall>=0.7').sort_values('precision', ascending=False).head()

    precision    recall  tresholds
85   0.622807  0.724490  -0.123540
88   0.621622  0.704082  -0.106495
86   0.619469  0.714286  -0.119606
84   0.617391  0.724490  -0.125290
87   0.616071  0.704082  -0.112936

In [22]:
knn_scores = pd.DataFrame(precision_recall_curve(
    scores_data.true, scores_data.score_knn)).T\
    .rename(columns={0: 'precision', 1: 'recall', 2: 'tresholds'})
knn_scores.query('recall>=0.7').sort_values('precision', ascending=False).head()

    precision    recall  tresholds
34   0.606557  0.755102   0.319334
35   0.603306  0.744898   0.322116
33   0.601626  0.755102   0.316721
36   0.600000  0.734694   0.329428
32   0.596774  0.755102   0.311469

In [23]:
tree_scores = pd.DataFrame(precision_recall_curve(
    scores_data.true, scores_data.score_tree)).T\
    .rename(columns={0: 'precision', 1: 'recall', 2: 'tresholds'})
tree_scores.query('recall>=0.7').sort_values('precision', ascending=False).head()

   precision    recall  tresholds
5   0.651786  0.744898   0.400000
4   0.598485  0.806122   0.363636
3   0.532895  0.826531   0.315789
2   0.508475  0.918367   0.105263
1   0.502732  0.938776   0.100000