In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import Perceptron
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [2]:
df_train = pd.read_csv('D:/Work/Data_files/working_dir/perceptron-train.csv', header=None)
df_train.head()

     0         1            2
0 -1.0 -0.024626  1174.600238
1  1.0 -0.978058  1083.198803
2 -1.0  0.314272 -1472.977609
3 -1.0  0.179752   231.017267
4  1.0 -1.262544  -778.271726

In [3]:
X_train = df_train[df_train.columns[1:]]
X_train.head()

          1            2
0 -0.024626  1174.600238
1 -0.978058  1083.198803
2  0.314272 -1472.977609
3  0.179752   231.017267
4 -1.262544  -778.271726

In [4]:
y_train = df_train[df_train.columns[0]]
y_train.head()

0   -1.0
1    1.0
2   -1.0
3   -1.0
4    1.0
Name: 0, dtype: float64

In [5]:
df_test = pd.read_csv('D:/Work/Data_files/working_dir/perceptron-test.csv', header=None)
df_test.head()

     0         1            2
0 -1.0  1.651437  1337.453826
1  1.0 -0.866495  1191.232457
2 -1.0  0.789828  -475.647768
3 -1.0  0.179549  1959.095353
4  1.0 -0.434351   568.504207

In [6]:
X_test = df_test[df_test.columns[1:]]
X_test.head()

          1            2
0  1.651437  1337.453826
1 -0.866495  1191.232457
2  0.789828  -475.647768
3  0.179549  1959.095353
4 -0.434351   568.504207

In [7]:
y_test = df_test[df_test.columns[0]]
y_test.head()

0   -1.0
1    1.0
2   -1.0
3   -1.0
4    1.0
Name: 0, dtype: float64

In [10]:
scaler = StandardScaler()

In [11]:
X_train_scaled = pd.DataFrame(scaler.fit_transform(X_train))
X_train_scaled.head()

          0         1
0  0.004867  1.334999
1 -0.943323  1.238211
2  0.341902 -1.468593
3  0.208121  0.335813
4 -1.226246 -0.732950

In [12]:
X_test_scaled = pd.DataFrame(scaler.transform(X_test))
X_test_scaled.head()

          0         1
0  1.671716  1.507449
1 -0.832374  1.352611
2  0.814844 -0.412493
3  0.207920  2.165722
4 -0.402606  0.693187

In [15]:
clf = Perceptron(random_state=241, max_iter=5, tol=None)
clf.fit(X_train, y_train)
predictions = clf.predict(X_test)
predictions

array([-1., -1.,  1., -1., -1., -1.,  1.,  1.,  1.,  1., -1., -1., -1.,
       -1., -1., -1.,  1., -1., -1.,  1.,  1.,  1.,  1., -1.,  1., -1.,
        1.,  1., -1.,  1.,  1.,  1., -1.,  1., -1., -1., -1.,  1.,  1.,
        1.,  1., -1., -1.,  1., -1.,  1., -1., -1.,  1.,  1., -1.,  1.,
       -1.,  1., -1.,  1.,  1.,  1.,  1.,  1.,  1., -1.,  1.,  1.,  1.,
        1., -1., -1., -1.,  1.,  1.,  1., -1.,  1., -1., -1., -1.,  1.,
        1., -1., -1., -1.,  1., -1., -1.,  1., -1.,  1., -1., -1., -1.,
        1.,  1.,  1.,  1.,  1., -1.,  1.,  1.,  1., -1.,  1.,  1.,  1.,
        1.,  1., -1., -1.,  1.,  1.,  1., -1., -1.,  1., -1.,  1., -1.,
        1., -1., -1.,  1., -1., -1., -1., -1.,  1.,  1.,  1., -1., -1.,
        1., -1., -1., -1., -1., -1.,  1.,  1., -1.,  1.,  1.,  1.,  1.,
        1., -1.,  1.,  1.,  1.,  1.,  1., -1., -1., -1., -1., -1., -1.,
        1., -1.,  1.,  1., -1.,  1., -1., -1.,  1., -1.,  1., -1., -1.,
       -1., -1.,  1., -1.,  1.,  1., -1.,  1., -1., -1., -1., -1., -1.,
        1., -1.,  1., -1.,  1., -1., -1., -1.,  1., -1., -1., -1.,  1.,
       -1., -1.,  1., -1.,  1.])

In [16]:
accuracy = accuracy_score(y_test, predictions)
accuracy

0.655

In [17]:
clf.fit(X_train_scaled, y_train)
predictions_scaled = clf.predict(X_test_scaled)
predictions_scaled

array([-1., -1., -1., -1., -1.,  1.,  1.,  1., -1.,  1., -1., -1., -1.,
       -1., -1., -1.,  1.,  1., -1.,  1., -1., -1.,  1., -1.,  1., -1.,
        1.,  1., -1., -1.,  1.,  1., -1.,  1., -1.,  1.,  1., -1.,  1.,
       -1.,  1., -1., -1.,  1., -1.,  1., -1.,  1.,  1.,  1., -1.,  1.,
       -1.,  1., -1.,  1.,  1., -1.,  1.,  1.,  1., -1.,  1.,  1.,  1.,
        1., -1., -1.,  1.,  1.,  1., -1., -1.,  1., -1., -1., -1.,  1.,
        1., -1., -1.,  1.,  1., -1.,  1.,  1., -1., -1., -1., -1.,  1.,
       -1., -1.,  1., -1., -1., -1.,  1.,  1.,  1., -1., -1., -1., -1.,
        1.,  1., -1., -1.,  1., -1.,  1., -1., -1., -1., -1.,  1.,  1.,
        1., -1.,  1.,  1., -1., -1., -1., -1.,  1., -1.,  1., -1., -1.,
       -1.,  1., -1., -1., -1.,  1.,  1., -1., -1.,  1.,  1.,  1.,  1.,
        1., -1.,  1.,  1.,  1.,  1.,  1., -1.,  1., -1., -1., -1.,  1.,
        1., -1.,  1.,  1., -1.,  1., -1., -1.,  1., -1.,  1., -1.,  1.,
       -1., -1.,  1.,  1.,  1.,  1., -1.,  1., -1., -1., -1., -1., -1.,
        1.,  1., -1., -1.,  1., -1.,  1., -1.,  1., -1.,  1.,  1.,  1.,
       -1.,  1.,  1., -1.,  1.])

In [18]:
accuracy_scaled = accuracy_score(y_test, predictions_scaled)
accuracy_scaled

0.84

In [19]:
test_answer = accuracy_scaled - accuracy
test_answer

0.18499999999999994